@use "./util/" as *;
@use "./global/" as *;

#root {
  @include breakpoint(sm) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
}
form {
  margin-top: rem(20);
  margin-inline: rem(15);
  padding-inline: rem(15);
  padding-block: rem(10);
  border-radius: rem(15);
  background-color: $white;
  width: min(90%, 750px);

  @include breakpoint(sm) {
    padding-inline: rem(30);
  }
}

// 'contact us'
.form__title {
  font-weight: $f-bold;
  margin-block-end: rem(30);
  color: $greyDark;
}

// First Name + last Name Wrapper
.form__fullName {
  @include breakpoint(sm) {
    display: flex;
    gap: rem(20);
  }
}
// input wrapper for [firstName.lastName & email]
.inputWrapper {
  flex-grow: 1;
}

.form__queryType {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      &[for="queryType"] {
        margin-block: rem(15);
      }

      &[for="supportRequest"],
      &[for="genralEnquiry"] {
        cursor: pointer;

        border: 1px solid $greyMid;
        border-radius: rem(8);
        margin-block: rem(10);
        padding-inline-start: rem(20);
        

        @include flex((rem(5)), center);
        @include breakpoint(sm) {
          width: 45%;
          margin-inline: 0;
          padding-inline: rem(10);
          input {
            width: 25%;
          }
        }

        input {
          display: none;
          &:checked + .radio__icon {
            background-image: url("./assets/images/icon-radio-selected.svg");
            border: none;
          }
        }
        &.greenBorder {
          background-color: $p-greenLight;
        }
      }
    }
    .radio__icon {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $p-greenMid;
      margin-inline-end: rem(10);
      margin-block: rem(15);
    }
    
  }


input {
  border-radius: rem(8);
  border: 1px solid $greyMid;
  outline: 0px;
  padding-inline-start: rem(8);
  margin-block: 10px;
  cursor: pointer;
  &:focus {
    border: 2px solid $p-greenMid;
  }
  

  &[type="text"],
  &[type="email"] {
    width: 100%;
    height: 45px;
  
    // change the border  to red for the input
    &.error {
      border-color: $p-red;
    }
  }
}
// add star to all label
label {
  text-transform: capitalize;
  display: block;
  width: 100%;
  color: $greyDark;

  // expect the radio && checkbox with thier label
  &:not(
      [for="genralEnquiry"],
      [for="supportRequest"],
      [for="checkbox"]
    )::after {
    content: "*";
    color: $p-greenMid;
    font-size: rem(14);
    margin-inline-start: rem(10);
  }

  &[for="checkbox"] {
    text-transform: lowercase;
  }

  // custom style for radio and their label
}
textarea {
  width: 100%;
  // height: 45px;
  margin-block-start: rem(10);
  padding-inline: rem(5);
  padding-block: rem(5);
  outline: none;
  cursor: pointer;
  border-radius: rem(5);
  border: 1px solid $greyMid;
  &:focus {
    border: 1px solid $p-greenMid;
  }

  &.error {
    border-color: $p-red;
  }
}

.form__checkbox {
  margin-block: rem(10);
  label {
    @include flex((rem(10)), center);
    cursor: pointer;
  }
  input[type="checkbox"] {
    margin-inline-end: rem(10);
    display: none;
    &:checked + .checkbox__icon {
      background-image: url("./assets/images/icon-checkbox-check.svg");
      background-position: center;
      background-size: contain;
    }
  }
  .checkbox__icon {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: rem(5);
    border: 1px solid $p-greenMid;
  }
}

// submit btn
button {
  background-color: $p-greenMid;
  color: $white;
  width: 100%;
  padding-block: rem(20);
  border-radius: rem(8);
  font-weight: $f-bolder;
  border: none;
  cursor: pointer;
}

// the <p> that hold the error state
.errorMsg {
  color: $p-red;
  margin-block-end: rem(10);
}

.hidden {
  display: none;
}

// style the success state
.successState {
  background-color: $greyDark;
  padding: rem(10);
  border-radius: rem(10);
  font-size: rem(15);
  margin-block-start: rem(100);
  .message {
    @include flex(rem(10));
    margin-block-end: rem(10);
    color: $white;
    font-weight: $f-bold;
  }

  .messageDetails {
    color: $greyMid;
  }
}


// @use "../abstract/" as *;
.attribution{
    font-size: rem(11);
    margin-inline:auto ;
    text-align: center;
    color: $p-red;
    margin-block-start: rem(30);
    @include breakpoint(md){
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    a{
        color: $p-greenMid;
        text-decoration: none;
    }
}