

// colors 

// primary

$p-greenLight: hsl(148, 38%, 91%);
$p-greenMid : hsl(169,82.50%,26.90%);
$p-red : hsl(0,66%,54%);

// netural 
$white: hsl(0,0%,100%);
$greyMid: hsl(186,15%,59%);
$greyDark: hsl(187,24%,22%);

// typography
$f-bold: 400;
$f-bolder : 700;

$font-family: "Karla";